<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title>API Document</title>

<xmp theme="united" style="display:none;">
{{>markdown}}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>